*{
    margin: 0px;
    padding: 0px;
 }
 body{
     font-family: Arial, Helvetica, sans-serif;
 }
 table{
     width: 100%;
     margin: 10px;
     padding: 0px;
 }
 tr.t1{
 width: 100%;
 height: 250px; 
 align-items: center;
 background-color: white;
 }
 img.im1{
     width: 100%;
     border-radius: 60px;
 }
 td.t1{
     background-color: #2009ed;
     border-radius: 60px;
     height: 100px;
     text-align: center;
 }
 h1.l1{
     font-size: 50pt;
 }
 a{
    
 }
 td.lis1{
     background-color: blue;
     padding: 35px;
     width: 33%;
     font-size: 15pt;
     height: 600px;
     vertical-align: top;
     border-radius: 60px;
     border: 5px solid black;
     margin: 10px;
 }
 
 img.im2{
     width: 100%;
     height: 150px;
     
     background-color: white;
     border-radius: 60px;
 }
 h1.l2{
     font-size: 25px;
 }
 li{
    font-size: 20px;
 }